.blog-list {
  padding: 8rem 2rem;
  background: #070d1b; /* dark background */
  color: #fff;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  color: #ffd700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.blog-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  margin: auto;
}

.blog-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  background: #0e1627;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.blog-card .blog-image-wrapper .blog-image {
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.blog-image-wrapper {
  position: relative;
  display: inline-block;
}

.blog-tag {
  position: absolute;
  top: 12px;
  right: 0;
  background: #fec544;
  color: #070d1b;
  padding: 2px 16px;
  font-size: 12px;
  font-weight: 400;
  z-index: 1;
}

/* Ribbon triangular effect */
.blog-tag::before {
  content: "";
  position: absolute;
  top: 0;
  left: -9px;
  width: 0;
  height: 0;
  border-top: 14px solid #fec544;
  border-left: 10px solid transparent;
}

.blog-tag::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -9px;
  width: 0;
  height: 0;
  border-bottom: 14px solid #fec544;
  border-left: 10px solid transparent;
}


.blog-card .blog-user {
  width: 30px;
  height: 30px;
  border-radius: 50%;

}

.blog-body span {
  font-size: 0.9rem;
  color: #aaa;
}

.blog-body span:nth-last-child(1) {
  margin-top: 4px;
}

.blog-title {
  font-size: 1.2rem;
  color: #fec544;
  margin-bottom: 0.8rem;
  height: 60px;

  display: -webkit-box;
  -webkit-line-clamp: 2;   /* limit to 2 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-date {
  font-size: 0.9rem;
  color: #aaa;
  margin-bottom: 1rem;
}

.blog-excerpt {
  font-size: 1rem;
  line-height: 1.6;
  color: #e2e2e2;
  margin-bottom: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.read-more {
  background-color: #fec544;
  color: #070d1b;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
  line-height: 1.4em;
  font-weight: 400;
  padding: 10px 1em;
  border-radius: 50px;
  min-width: auto;
  border: none;
  outline: none;
  transition: all 0.4s ease;
  text-transform: capitalize;
  cursor: pointer;
  align-self: flex-start;
}

.read-more:hover {
  background-color: #e0ad36;
}

.search-bar input {
  display: block;
  width: 100%;
  color: #a9adb8;
  padding: 12px 45px;
  border: 1px solid #232935;
  background-color: #101624;
  height: 52px;
  border-radius: 7px;
  transition: all .4s ease;
}
.search-bar {
  position: relative;
  width: 50%;
  margin: 50px auto !important; /* centers horizontally */
}

.search-bar i{
  position: absolute;
  top: 16px;
  left: 18px;
  color: #a9adb8;
}

.search-bar input:focus {
  border-color: #fec544;
  background-color: #101624;
  color: #a9adb8;
  outline: 0;
  box-shadow: unset;
}

.search-bar input::placeholder {
  color: #6c7383; /* placeholder color */
  opacity: 1;
}

.blog-post-container {
  padding: 5rem 2rem;
  background: #070d1b;
  color: #fff;

}

.blog-post {
  max-width: 1000px;
  margin: auto;
  padding-top: 60px;
}

.blog-body {
  padding: 20px;
  border-top: 1px solid #3b4755;
}

.post-container {
  border: 1px solid #6f6f6f;
  padding: 46px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post-container h1, h2, h3, h4 {
  margin-bottom: 24px;
}

.post-container h1 {
  text-align: center;
  color: #fec544;
  font-size: 32px;
}

.post-container h2 {
  color: #fec544;
  font-size: 28px;
}


.post-container h3 {
  color: #fec544;
  font-size: 24px;
}

.post-container h4 {
  color: #fec544;
  font-size: 20px;
}

.post-container h5 {
  color: #fec544;
  font-size: 18px;
}

.post-container h6 {
  color: #fec544;
  font-size: 16px;
}


.post-container p {
  font-size: 14px;
}

.post-container ul li {
  font-size: 14px;
}

.post-container a {
  color: #e0ad36;
  text-decoration: none;
}

.post-container a:hover {
  color: #fec544;
}

.post-container img {
  width: 70% !important;
  display: block;
  margin: 0 auto;
}

.post-container > img:first-of-type {
  width: 100% !important;
  margin-bottom: 30px;
}


.blog-post table {
  width: auto;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.blog-post th,
.blog-post td {
  border: 1px solid #939393;
  padding: 0.5rem;
}

.blog-post th {
  background-color: #c1c1c1;
  text-align: center;
  color: #303030;
}

.blog-feature-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  margin-bottom: 2rem;
}


@media only screen and (max-width: 991px) {
  .blog-card {
    width: 320px;
  }
  .post-container {
    padding: 16px;
    font-size: 14px;
  }
  .blog-feature-image {
    width: 100%;
    max-height: 200px;
  }
  .blog-post-container {
    padding: 3rem 0.5rem;
  }
}